/*buttons*/
html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: OpenSans;
  font-size: 14px;
  color: #fff;
  position: relative; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }
