@media only screen and (max-width: 1200px) {
  .nav_list a {
    padding: 0 18px; }
  .sl_link .title_slider {
    margin: 80px 0 30px; }
  .sl_link .sl_button {
    margin-top: 30px; } }

@media only screen and (max-width: 992px) {
  .nav_list a {
    padding: 0 8px; }
  .sl_link .title_slider {
    margin: 50px 0 20px;
    font-size: 40px; }
  .sl_link .descr_slider {
    font-size: 20px; }
  .sl_link .sl_button {
    max-width: 170px;
    font-size: 20px; }
  #team {
    padding-bottom: 0; }
  .team_person {
    width: 50%; }
  .the_team {
    margin: 30px 0; }
  .title-persons {
    margin: 20px 0 5px; }
  .persons-par {
    margin-bottom: 40px; }
  .plan {
    width: 33.333333%;
    float: left;
    max-width: 100%;
    display: block;
    padding: 0 15px;
    min-height: 0; }
    .plan .plans-list-item {
      line-height: 30px; }
    .plan .plans-list-item:nth-child(1) {
      line-height: 50px; } }

@media only screen and (max-width: 768px) {
  header {
    margin-bottom: 20px; }
    header .logo {
      width: 100%;
      float: none; }
    header nav {
      width: 100%; }
      header nav .hide_nav {
        position: absolute;
        right: 15px;
        top: 30px; }
      header nav .nav_list {
        display: none;
        float: none;
        margin-top: 0px;
        background-color: #49cbcd; }
        header nav .nav_list li {
          display: block; }
          header nav .nav_list li a {
            padding: 0;
            text-align: center;
            line-height: 40px;
            color: #fff; }
            header nav .nav_list li a:hover, header nav .nav_list li a:active {
              border-bottom: none;
              color: #49cbcd; }
  .sl_link .title_slider {
    margin: 40px 0 20px;
    font-size: 30px; }
  .sl_link .descr_slider {
    font-size: 18px;
    max-width: 300px; }
  .sl_link .sl_button {
    margin-top: 10px;
    max-width: 150px;
    font-size: 16px; }
  .persons-par {
    max-width: 210px; }
  #plans {
    padding: 25px 0; }
  .plan {
    width: 100%;
    float: none;
    max-width: 100%;
    display: block;
    min-height: 0;
    margin: 20px 0; }
    .plan .plans-list-item {
      line-height: 30px; }
    .plan .plans-list-item:nth-child(1) {
      line-height: 50px; }
  footer {
    padding: 10px 0; }
  .contact_us {
    margin: 40px 0; }
  .social_contact {
    width: 100%;
    float: none;
    text-align: center; }
    .social_contact .par_1 {
      max-width: 100%; }
    .social_contact .par_2 {
      display: block;
      margin: 0 auto; }
  .form {
    width: 100%;
    float: none; }
    .form .name_inp {
      width: 100%;
      max-width: 100%;
      float: none;
      display: block;
      margin: 20px 0; }
    .form .email_inp {
      width: 100%;
      display: block;
      float: none; } }

@media only screen and (max-width: 620px) {
  .sl_link .title_slider {
    margin: 30px 0 10px;
    font-size: 22px; }
  .sl_link .descr_slider {
    font-size: 14px;
    max-width: 230px;
    line-height: 24px; }
  .sl_link .sl_button {
    margin-top: 10px;
    max-width: 132px;
    font-size: 14px; } }

@media only screen and (max-width: 480px) {
  .sl_link .title_slider {
    margin: 20px 0 5px;
    font-size: 20px; }
  .sl_link .descr_slider {
    font-size: 12px;
    max-width: 210px;
    line-height: 15px; }
  .sl_link .sl_button {
    margin-top: 5px;
    max-width: 125px;
    font-size: 12px;
    padding: 5px 0; }
  .slick-next {
    right: 0; }
  .slick-prev {
    left: 0; }
  .team_person {
    width: 100%; } }

@media only screen and (min-width: 769px) {
  .hide_nav {
    display: none; } }

@media only screen and (min-width: 1200px) {
  .slick-slide img {
    min-height: 566px; }
  label#form_email-error {
    margin-left: 10px; } }

@media only screen and (min-width: 1900px) {
  .sl_link .title_slider {
    margin: 150px 0 50px;
    font-size: 80px; }
  .sl_link .descr_slider {
    font-size: 45px;
    max-width: 740px; }
  .sl_link .sl_button {
    max-width: 330px;
    font-size: 45px;
    border: 10px solid #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    margin-top: 90px; } }
