@import "mixins";
@import "settings";

header{
	width:100%;
	background: $baseColor;
	min-height: 100px;
	font-family: $fontFamily;
	position: relative;
	overflow: hidden;
	position: fixed;
	z-index: 9999;
	top: 0;

	.logo{
		width: 45%;
		float: left;
		display: inline-block;
		margin-top: 30px;
	}

	nav{
		width: 55%;
		overflow: hidden;

		.nav_list{
			float: right;
			margin: 0;
			padding: 0;
		}
			li{
				display: inline-block;
				list-style-type: none;
				line-height: 100px;
			}

			a{
				display: block;
				text-decoration: none;
				color: $ctextColor;
				padding: 0px 22px;
			    transition: all .25s;
			    display: block;
			    font-size: 15px;
			    font-weight: 400;
			    line-height: 98px;
			   
		 		&:hover{
		 			color: $baseColorHover;
		 			background-color: #f8f9fb;;
		 			border-bottom: 2px solid $baseColorHover;
		 		}
		 		&:active{
		 			color: $baseColorHover;
		 		}
			}
	}		

		.hide_nav{
			position: relative;
			float: right;
			width: 40px;
			height: 40px;
			background-color: #49cbcd;
			cursor: pointer;
			border-radius: 5px;
		}
			.hide_nav_line{
				position: absolute;
				display: block;
				width: 80%;
				left: 10%;
				height: 3px;
				background-color: #fff;
				border-radius: 5px;
			}
				.hide_nav_line_top{
					top: 8px;
					transition: 1s;
				}
				.hide_nav_line_middle{
					top: 18px;
					opacity: 1;
				}
				.hide_nav_line_bottom{
					top: 28px;
					transition: 1s;
				}

				.hide_nav.active .hide_nav_line_top{
					top: 20px;
					transform: rotate(45deg);
					transition: 1s;
				}
				.hide_nav.active .hide_nav_line_middle{
					opacity: 0;
					transition: 1s;
				}
				.hide_nav.active .hide_nav_line_bottom{
					top: 20px;
					transform: rotate(-45deg);
					transition: 1s;
				}
}