$fontFamily:  OpenSans;
$baseColor : #fff; 
$baseColorHover : #49cbcd; 
$ctextColor : #4e525d; 
$bodyFontSize : 14px;
$container : 960px;
$minContainer : 320px;

/*buttons*/
$buttonHeight: 40px;
$buttonColor : rgb(138, 0, 78);
$buttonColorHover : #a4025e;
$buttonText : #fff;